.Container{
    background-color: yellow;
    display: flex;
    height: 200px;
    flex-direction: row-reverse;
    align-items: center;
}

.box{

    background-color: aqua;
    width: 30px;
    height: 30px;
    margin: 5px;
}

.Container2{
    background-color: grey;
    display: flex;
    margin: 20px;
    height: 300px;
    width: 400px;
}

.box2{
    position: absolute;
    top: 420px;
    left: 320px;
    background-color: orange;
    width: 100px;
    height: 100px;
}

.box3{
    position: relative;

    width: 100px;
    height: 100px;
}

.Container3{
    background-color: grey;
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 50px;
    width: 50px;
}

#Header{
    font-size: 2rem;
}