.container{
    display: grid;  
    grid-template-columns: 33% 33% 33%;
    grid-auto-rows: minmax(100px, auto);
    column-gap: 2px;
    row-gap: 2px;
    
}

.box{
    border: solid 2px black;
    background-color: red;
}
.i1{
    grid-row-start: span 3;
}
.i2{
    grid-column-start: span 2;
}
.i3{
    grid-row-start: span 1;
}
.i4{
    grid-column-start: span 1;
}
.i5{
    grid-column-start: span 1;
}