html{
    background-color: aqua;
}

body
{
    display: flex;
    align-items: center;
    justify-content: center;
}

input{
    padding: 10px;
    width: 94%;
}

button{
    width: 100%;
    padding: 10px;
}


#output{
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px;
    border: solid 3px black;

}